body {
    font-family: 'Mulish', sans-serif !important;
}

@media (max-width: 767px) {
    #content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #content {
        width: 100% !important;
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
    .btn {
        width: 50%;
    }
}